

.services__tag{
    font-size: 18px;
    color: var(--gray-100);
    display: block;
    font-weight: 600;
    text-align: center;
}

.services__title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    color: var(--black);
}

.services__item{
    margin-top: 40px;
}

.services__image-item{
    display: block;
    margin:0 auto 20px auto;
    width: 66px;
}

.services__description-item{
    text-align: center;
    display: block;
}